<!DOCTYPE html>
<html lang="en">

<head>
    {% load bootstrap5 %}
    {% bootstrap_css %}
    {% bootstrap_javascript %}


    <!-- CSS -->
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.13.7/css/jquery.dataTables.min.css">

    <!-- JavaScript -->
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
    <script src="https://cdn.datatables.net/1.13.7/js/jquery.dataTables.min.js"></script>


    <meta charset="UTF-8">
    <title>{{ title }}</title>
</head>
<body>

<header>
        <nav class="navbar navbar-expand-md navbar-light bg-light">
            <div class="container-fluid">
                <a class="navbar-brand" href="{% url 'js_info_table' %}">
                    <img src="/static/images/dna1.webp" alt="" width="30" height="30" class="d-inline-block align-text-top">
                    GeneOntology_by_JS_DataTables
                </a>

                <a class="navbar-brand" href="{% url 'info_table' %}">
                    <img src="/static/images/dna2.webp" alt="" width="30" height="30" class="d-inline-block align-text-top">
                    GeneOntology_by_datatables2
                </a>



                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'about' %}">About</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'add' %}">Add_data</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'contacts' %}">Contacts</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>

<div class="container px-3">


{% block login_form %}

{% endblock %}


{% for pheno in menu %}
<p><a href="{% url 'gene' pheno.slug %}">{{ pheno.pheno }}</a></p>
{% if not forloop.last %}
<hr>
{% endif %}
{% endfor %}


<p>{{ url_list|join:" | " }}</p>



{% for pheno in menu %}
<p><a href="{{ pheno.get_absolute_url }}">{{ pheno.pheno }}</a></p>
{% if not forloop.last %}
<hr>
{% endif %}
{% endfor %}

{% block gene %}
{% endblock %}


{% block about %}
{% endblock %}


{% block add %}
{% endblock %}



{% block info_table %}
{% endblock info_table %}


{% block contacts %}
{% endblock contacts %}


{% block js_table %}
{% endblock js_table %}

</div>

</body>
</html>