{% extends "base.html" %}
{% block about %}
<h1>{{ about }}</h1>
<p>Это тренировочный django-проект, где приведена информация о полигенных фенотипических признаках, генах, которые обуславливают данные признаки
и полиморфизмах, которые в данных генах содержатся.</p>
<p>Структура реляционной БД данного сайта построена так, что связи между таблийами фенотипов и генов имеют тип связи "многие_ко_многим", так как
    различные гены могут аффектировать различные фенотипы, причем отдельно взятый ген может обуславливать несколько фенотипов</p>
<p>Далее, каждый ген связан с набором идентификаторов SNP по принципу "один_ко_многим", так как один ген содержит множество SNP, но отдельно
    взятый SNP может принадлежать только одному гену</p>
<p>Для примера связи "один_к_одному" была также добавлена таблица с "клиническими" транскриптами, так как в клинической генетике один ген, как
    правило, описывают только одним (наиболее длинным) транскриптом</p>
<h2>Как построен интерфейс сайта</h2>
<p>Изначально пользователю представлен список обозначений фенотипов. Кликнув на любой из них можно увидеть список связанных с данным фенотипом генов.
Под каждым геном выводится список rs_id, которые расположены на данном гене.</p>

{% include 'go/includes/nav.html' %}
{% endblock %}