{% extends "base.html" %}
{% block about %}
<h1>{{ about }}</h1>
<p>Вы читаете описание к небольшому django-проекту, где приведены условные идентификаторы генов, их rs_id и полигенные фенотипические признаки,
    которые могут обуславливаться данными генами.</p>
<p>Каждый ген связан с набором идентификаторов SNP по принципу "многие к одному", так как один ген содержит множество SNP, но отдельно
    взятый SNP может принадлежать только одному гену.</p>
<p>Для примера связи "один_к_одному" создана таблица с идентификаторами транскриптов. Здесь <b class="text-danger">допущена условность</b>,
    что каждый ген имеет только один транскрипт.</p>
<p>Гены и фенотипы связаны между собой по принципу "многие ко многим".</p>
<h2>Функции сайта</h2>
<p>Сайт выводит данные из базы данных в виде таблицы при помощи JS плагина DataTables и при помощи библиотеки django_tables2.</p>

{% endblock %}
